<div class='info'>
<p>Original: <a href="<%=url.original%>"> <%=url.original%></a> </p>
<p>Shortened: <a href="http://localhost:9393/z/<%=url.short_url%>">http://localhost:9393/z/<%=url.short_url%></a></p>
<p>Number of Clicks: <%=url.clicks%></p>
</div>
