<h1>Welcome to the Url shortener</h1>
<% if logged_in? %>
  <p>Logged In as <a href="/users/<%=current_user.id%>"><%=current_user.email%></a></p>
  <form action='/logout' method='post'><input type='submit' value='Logout'></form>
<% else %>
  <a href="/login">Login</a>
<% end %>
<%= erb :_new_url, layout: false %>
<h3>Existing Urls</h3>
<table>
  <thead>
    <th>Original</th>
    <th>Shortened</th>
  </thead>
  <tbody>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.original %></td>
      <td><a href="http://localhost:9393/z/<%=url.short_url%>">http://localhost:9393/z/<%=url.short_url%></a></td>
    </tr>
  <% end %>
  </tbody>
</table>
